[run]
branch = True
source = skmorf
omit =
    */bin/*
    */setup.py
    */skmorf/conftest.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    @abstractmethod
    @abstractclassmethod
