# Distribution / packaging
.Python
dist/
*.egg*
build
build-install/
coverage
*.xml
.venv

commit.txt
sktree/_lib/sklearn/

*.png

# Sphinx documentation
docs/_build/
docs/generated/
docs/auto_examples/
docs/auto_tutorials/
docs/modules/generated/
docs/sphinxext/cachedir
pip-log.txt
.coverage
tags
docs/coverages
docs/samples
cover
examples/*.jpg

# Pycharm
.idea/

*.pyc

*.so 
*.cpp 
*.c

.cache
.pytest_cache
.ipynb_checkpoints
.DS_Store
.vscode/

__pycache__

# Profiling
profiling/
*.prof