# Distribution / packaging
.Python
dist/
*.egg*
build
build-install/
coverage
*.xml
.venv
.pymon

commit.txt
sktree/_lib/sklearn/

*.png

# Sphinx documentation
doc/_build/
doc/generated/
doc/auto_examples/
doc/auto_tutorials/
doc/modules/generated/
doc/sphinxext/cachedir
pip-log.txt
.coverage
tags
doc/coverages
doc/samples
cover
examples/*.jpg

env/
html/
results/
scikit-learn/
benchmarks/cache/

# Pycharm
.idea/

*.pyc

*.so 
*.cpp 
*.c

.cache
.pytest_cache
.ipynb_checkpoints
.DS_Store
.vscode/

__pycache__

# Profiling
profiling/
*.prof