repos:
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        args: [--quiet]

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.0
    hooks:
      - id: cython-lint
      - id: double-quote-cython-strings

  # Ruff sktree
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      - id: ruff
        name: ruff sktree
        args: ["--fix"]
        files: ^sktree/

  # Ruff tutorials and examples
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      - id: ruff
        name: ruff tutorials and examples
        # D103: missing docstring in public function
        # D400: docstring first line must end with period
        args: ["--ignore=D103,D400", "--fix"]
        files: ^tutorials/|^examples/

  # Codespell
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        files: ^sktree/|^doc/|^examples/|^tutorials/
        types_or: [python, bib, rst, inc]

  # yamllint
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [--strict, -c, .yamllint.yml]

  # toml-sort
  - repo: https://github.com/pappasam/toml-sort
    rev: v0.23.1
    hooks:
      - id: toml-sort
        files: ^pyproject\.toml$

  # mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.7.1
    hooks:
      - id: mypy
        # Avoid the conflict between mne/__init__.py and mne/__init__.pyi by ignoring the former
        exclude: ^(benchmarks_nonasv|examples|benchmarks|.spin)/.*$
        additional_dependencies: ["numpy==1.26.2"]

  # rstcheck
  - repo: https://github.com/rstcheck/rstcheck.git
    rev: v6.2.0
    hooks:
      - id: rstcheck
        additional_dependencies:
          - tomli
        files: ^(?!doc/use\.rst$).*\.(rst|inc)$

ci:
  autofix_prs: false
