meson
meson-python
meson-python@git+https://github.com/mesonbuild/meson-python
cython
ninja
numpy
scikit-learn@git+ssh://git@github.com/neurodata/scikit-learn.git@v1.1-refactoredtrees
click
rich-click
doit
pydevtool