include *.rst
include LICENSE
include oblique_forests/__init__.py
include Pipfile
include Pipfile.lock
include data/README
include data/.bidsignore
include *.txt
include MANIFEST.in
include *.md
include *.py

recursive-include examples *.py
recursive-include examples README.rst

recursive-include oblique_forests *.py
recursive-include oblique_forests *.pyx *.c *.cpp
recursive-include data *.npy

### Exclude
exclude .zenodo*
exclude .github
exclude .github/PULL_REQUEST_TEMPLATE.md
exclude Makefile
exclude CONTRIBUTING.md
exclude *.yml
exclude .mailmap
exclude paper
exclude ignore_words.txt
exclude data
recursive-exclude docs *
recursive-exclude paper *
exclude test_requirements.txt
