[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=1.20"
scipy = ">=1.6"
scikit-learn = ">=0.24"
pandas = ">=1.2"
matplotlib = ">=3.3"
joblib = ">=1.0.0"
tqdm = ">=4.59"
cython = "*"
scikit-image = "*"
pywavelets = "*"

[dev-packages]
ipykernel = "*"
pytest = "*"
pytest-sugar = "*"
pytest-cov = "*"
flake8 = "*"
numpydoc = "*"
sphinx-gallery = "*"
sphinx-bootstrap-theme = "*"
sphinx = "*"
pydocstyle = "*"
codespell = "*"
check-manifest = "*"
pytest-benchmark = "*"
mypy = "*"
nbsphinx = "*"
sphinx-copybutton = "*"
pipfile-requirements = "*"
pandoc = "*"
sphinx-autodoc-typehints = "*"
typing-extensions = "*"
autopep8 = "*"
seaborn = "*"

[requires]
python_version = "3"
